.contacts__phone {
    font-size: rem(22px);
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    color: white;
}

.telephone__img {
    width: rem(12px);
    height: rem(12px);
    margin-right: rem(6px);
}