.forms {
    display: flex;
    background: url("../img/serfer.jpg") center center/cover no-repeat;
    color: white;
}

form {
    display: flex;
}

.form__row--comment {
    margin-bottom: rem(36px);
}

.form__col {
    flex: 1;
    margin-right: rem(26px);
    &:last-child {
        margin-right: 0;
    }
}

.form__row {
    display: flex;
    margin-bottom: rem(13px);
}

.form__block {
    flex: 1;
    margin-right: rem(16px);
    &:last-child {
        margin-right: 0;
    }
}

.form__input {
    width: 100%;
    border: none;
    padding: rem(20px) rem(12px);
    border: rem(3px) solid transparent;
    &--textarea {
        height: rem(152px);
        resize: none;
    }
    &:focus {
        border-color: #FEDB3F;
        outline: none;
    }
}

.form__controls {
    display: flex;
    flex-wrap: wrap;
}

.form__controls-group {
    margin-bottom: rem(44px);
}

.radio {
    display: flex;
    cursor: pointer;
}

.radio__elem {
    display: none;
    margin-bottom: rem(16px);
    &:checked~.radio__visible {
        &::before {
            display: block;
        }
    }
}

.radio__visible {
    width: rem(25px);
    height: rem(25px);
    position: relative;
    border-radius: 50%;
    background: white;
    &:before {
        content: "";
        width: rem(13px);
        height: rem(13px);
        background: #FEDB3F;
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
    }
}

.title__header--forms-main-title {
    margin-bottom: rem(62px);
}

.radio--checkbox {
    .radio__visible {
        border-radius: rem(4px);
        &:before {
            background: url(../img/checkmark.png) center center/ rem(10px) no-repeat;
        }
    }
}