.headline__title {
    margin-bottom: 17px;
}

.title__header {
    text-transform: uppercase;
}

.title {
    text-align: center;
}

.headline__subtitle {
    padding: 0 25%;
    margin-bottom: 49px;
}

.benefits__title {
    font-size: 27px;
    font-weight: bold;
    margin-bottom: 20px;
}