.header {
    padding-top: rem(24px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: rem(103px);
}

.menu {
    margin-right: rem(47px);
}

.menu__list {
    display: flex;
    align-items: center;
}

.menu__link {
    text-decoration: none;
    color: white;
    font-size: rem(18px);
    line-height: rem(20px);
}

.menu__item {
    margin-right: rem(22px);
    font-weight: bold;
    &:last-child {
        margin-right: 0;
    }
}

.header__col--align--right {
    display: flex;
    align-items: center;
}

.header__col {
    display: flex;
    align-items: center;
}

.header__col--align--right {
    justify-content: flex-end;
}