    .user {
        width: rem(74px);
        height: rem(74px);
        // border: rem(6px) solid #FEDB3F;
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            border: rem(6px) solid transparent;
        }
        &--active {
            & ::before {
                border: rem(6px) solid #FEDB3F;
            }
        }
    }
    
    .user__link {
        display: block;
    }
    
    .user-photo {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .interactive__users {
        display: flex;
        align-items: center;
        justify-content: center;
    }