.section {
    height: 100vh;
    min-height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title__header {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 53px;
    text-align: center;
}

.headline__subtitle {
    color: #666666;
}

.forms--color--white {
    color: white;
}